@font-face{
    font-family: px-vga;
    src: url("fonts/PxPlus_VGA_SquarePx.ttf");
    font-weight: normal;
    font-style: normal;
}
html{
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    background-color: black;
    color: #32CD32;
    font-family: "px-vga";
}
a{
    text-decoration: none;
    color: #FFB000;
}
h1{
    font-weight: normal;
    font-size: 3rem;
}
.main-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.main-container p{
    font-size: 3rem;
}
.main-container ul{
    list-style-type: 
}
table{
    
}